@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');
* {
    margin: 0%;
    padding: 0%;
}

header {
    background: rgb(236, 233, 233);
    border: 5px;
    width: 95vw;
    height: 20vh;
    position: relative;
    margin: 10px;
    border: 2px solid #000;
}

header h1 {
    font-family: 'Roboto', sans-serif;
    color: #000;
    position: absolute;
    width: 30vw;
    top: calc(10%);
    left: calc(0%);
    font-size: 50px;
}

header p {
    font-family: 'Roboto', sans-serif;
    color: rgb(13, 124, 32);
    position: absolute;
    width: 30vw;
    top: calc(50%);
    left: calc(5%);
    font-size: 50px;
}

#sub {
    font-family: 'Roboto', sans-serif;
    color: rgb(13, 124, 32);
    font-size: 50px;
}

#imagen {
    background-image: url('./city.jpg');
    border: 5px;
    width: 95vw;
    height: 60vh;
    margin: 10px;
    border: 2px solid #000;
}

#titulo p {
    font-family: 'Roboto', sans-serif;
    color: #f3f3f3;
    position: absolute;
    width: 30vw;
    bottom: calc(55%);
    left: calc(70%);
    font-size: 40px;
}

#titulo h3 {
    font-family: 'Roboto', sans-serif;
    color: #f3f3f3;
    position: absolute;
    width: 30vw;
    bottom: calc(40%);
    left: calc(70%);
    font-size: 80px;
}

#O {
    font-family: 'Roboto', sans-serif;
    color: rgb(13, 124, 32);
    font-size: 80px;
}

#cuadro2,
#O1 {
    font-family: 'Roboto', sans-serif;
    color: rgb(13, 124, 32);
    font-size: 30px;
    text-align: center;
}

#cuadro1 {
    width: 315px;
    height: 315px;
    margin: 2px;
    border: 2px solid #000;
    padding: 2px;
    float: left;
    background: rgb(95, 2, 49);
    color: white;
    text-align: center;
    position: relative;
}

div .circulo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 8px solid gray;
    background: rgb(201, 12, 122);
    text-align: center;
    align-items: center;
    position: absolute;
    text-align: center;
    top: 20%;
    left: 15%;
    bottom: 5%;
    font-size: 20px;
}

.circulo h5 {
    font-family: 'Overpass', sans-serif;
    text-align: center;
    align-items: center;
    position: absolute;
    text-align: center;
    top: 30%;
    left: 6%;
    font-size: 50px;
}

.circulo h6 {
    text-align: center;
    align-items: center;
    position: absolute;
    text-align: center;
    top: 55%;
    left: 47%;
    font-size: 30px;
}

#cuadro1 h4 {
    text-align: center;
    align-items: center;
    position: absolute;
    text-align: center;
    top: 90%;
    left: 30%;
    font-size: 20px;
}

div .circulodos {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 8px solid rgb(37, 202, 37);
    background: rgb(29, 24, 24);
    text-align: center;
    align-items: center;
    position: relative;
    text-align: center;
    left: 20%;
    font-size: 20px;
}

.circulodos h2 {
    font-family: 'Karla', sans-serif;
    text-align: center;
    align-items: center;
    position: absolute;
    text-align: center;
    top: 30%;
    left: 20%;
    font-size: 20px;
}

.circulodos p {
    text-align: center;
    align-items: center;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 7%;
    font-size: 20px;
}

#O1 {
    font-family: 'Roboto', sans-serif;
    color: rgb(13, 124, 32);
    font-size: 50px;
}

#cuadro2 {
    width: 315px;
    height: 315px;
    margin: 2px;
    border: 2px solid #000;
    padding: 2px;
    float: left;
    background: rgb(29, 24, 24);
    color: white;
    font-size: 30px;
}

#cuadro3 {
    background-image: url('./../Imagen/cuervo.jpg');
    width: 315px;
    height: 315px;
    margin: 2px;
    border: 2px solid #000;
    padding: 2px;
    float: left;
    background-repeat: no-repeat;
    background-size: contain;
}

#cuadro4 {
    width: 315px;
    height: 315px;
    margin: 2px;
    border: 2px solid #000;
    padding: 2px;
    float: left;
    background: rgb(6, 82, 40);
    color: white;
}

#cuadro4 p {
    font-family: 'Overpass', sans-serif;
    color: #f3f3f3;
    text-align: center;
    align-items: center;
    position: absolute;
    text-align: center;
    top: 95%;
    font-size: 20px;
}

#cuadro4 h2 {
    font-family: 'Overpass', sans-serif;
    color: #f3f3f3;
    text-align: center;
    align-items: center;
    position: absolute;
    text-align: center;
    font-size: 50px;
    top: 98%;
}

#cuadro4,
#O2 {
    font-family: 'Roboto', sans-serif;
    color: rgb(13, 124, 32);
    font-size: 50px;
}